*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 85vw;
    padding:2rem 1rem;
    margin: 0 auto;
}
.header_container{
    margin-bottom: 2.8rem;
}
.header_title{
margin-bottom: 1rem;
font-size: 1.4rem;
line-height: 2rem;
font-weight: 700;
text-align: center;
}
.header_desc{
    max-width: 560px;
    text-align: center;
    color: black;
   margin: 0 auto;
}
.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}
@media (max-width:1172px) {
    .main_container{
        grid-template-columns: repeat(3, 1fr);}
}
@media (max-width:1036px) {
    .main_container{
        grid-template-columns: repeat(2, 1fr);}
}
@media (max-width:688px) {
    .main_container{
        grid-template-columns: repeat(1, 1fr);}
}
.card_container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(206, 202, 202);
    border-radius: 8px;
}
.card_imge_container{
    position: relative;
    overflow: hidden;
    height: 12rem;
}
.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}
.card_title{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.4rem;
    color: black;
}
.card_tag:hover .card_title{
    color: blue;
}
.card_dsc{
    color: rgb(34, 32, 32);
    font-size: 1rem;
}
.card_footer_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem;
}
.author_container{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 1rem;
}

.author_avter_container{
    height:2.4rem;
    width: 2.4rem;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
   
    background-color: rgb(214, 199, 199);
}
.author_info{
    display: flex;
    flex-direction: column;
}
.author_name{
    color: rgb(18, 18, 214);
}
.author_date{
    color: rgb(220, 69, 69);
}
.card_tag_container{
    font-size: 0.9rem;
    border: 1px solid rgb(232, 213, 213);
    border-radius: 2px;
    line-height:none;
    margin: 2px;
    color: rgb(184, 28, 28);
    padding:1rem, 2rem
}
    
